<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
	<title>腹黑</title>
	<style>
		body{
			background-image: url(http://ext.pimg.tw/simour/1373950251-394218016.jpg);
			background-repeat:no-repeat;
			background-position: 50% 0%;
		}
	</style>
</head>
<body>
	<h2>{{ full_name }} 測驗結果:</h2>
	<script type="text/javascript">
	var BitchFace = [
		'洗完澡用冷風吹風機吹下體',
		'吃鼻屎',
		'喜愛裸奔',
		'有起床氣',
		'在泳池裡偷尿尿',
	];
	
	var BitchFace2 = [
		'喜愛聞自己的腳臭',
		'吃蚵仔煎不加蚵仔不加蛋',
		'喜愛舔腳趾',
		'睡覺前才洗碗',
		'常常拉屎不自覺墊腳尖',
	];

	var BitchFace3 = [
		'常常拉屎不關門',
		'最愛看忍者哈特利',
		'最愛的AV女優是沖田杏梨',
		'在麥當當吃肯德基套餐',
		'哥哥你不要這樣~',
	];

	var BitchFace5 = [
		'資訊焦慮症',
		'一心三用 (開電腦平板手機)',
		'在捷運上偷放屁',
		'討厭洗澡尤其是冬天',
		'姊姊你不要這樣~',
	];
			

	//var num6 = new Array(3); //3 個結果
		var msg = BitchFace[Math.floor(Math.random() * BitchFace.length)];

		var msg2 = BitchFace2[Math.floor(Math.random() * BitchFace2.length)];

		var msg3 = BitchFace3[Math.floor(Math.random() * BitchFace3.length)];

		var msg5 = BitchFace5[Math.floor(Math.random() * BitchFace5.length)];

		document.write("1. " + msg  + "<br>" + "2. " + msg2 + "<br>" + "3. " + msg3 + "<br>" + "5. " + msg5 );

</script>
	<p>啊嘶，好腹黑哦哦哦</p>
	<br/>
	<h2><a href ="/welcome/">再測一次wwwww</a></h2>
</body>
</html>
