<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>有時候真想揍你一拳</title>
	<style>
            body {
               background-color: Lightyellow;
            }
            em {
                color: LightSeaGreen;
            }
        </style>
</head>
<body>
	<h1>師大公園地下司令</h1>
    <p>和你約在師大路，一個人坐在路邊等待你的時間</p>
    <p>不知不覺又過了三年，一切都沒改變</p>
    <p>朋友們相聚的夜，抽煙的你和不抽煙的我坐在公園</p>
    <p>除了無止盡的抱怨，一切都沒改變 、一切都已改變</p>
    <p>看著鏡子，裡面的自己，告訴自己還年輕</p>
    <p>戴上耳機，想大聲唱出聲音</p>
    <p>這是我現在的歌</p>
    <p>又  看  到  日  出</p>
    <p>有種豁然開朗的感覺</p>
    <p>--------------------------------------------------</p>
    <p>又  看  到  日  出</p>
    <p>因為冷而縮著身體的我們</p>
    <p>口中呼 出  了 白  煙</p>
    <p>有種豁然開朗的感覺</p>
    <p>有種豁然開朗的感覺</p>
    <p>有種豁然開朗的感覺</p>
    <p>有種豁然開朗的感覺</p>

    <em>{{ current_time }}</em>
</body>
</html>